body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-ubuntu: Ubuntu;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-darkblue: #0033cc;
  --color-gray-100: #888;
  --color-turquoise: #0cdac3;
  --color-silver: #b8b8b8;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
}
